body {
    margin: 15px 0 0 15px;
    padding: 1px; /*background: #2370cf;*/
    font: 12px 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
    color: #000;
}

table, td {
    font: 12px 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
    color: #000;
}

h2 {
    font: 16px 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
}
